.ant-menu-item,
.ant-menu-submenu-title {
  margin-bottom: 14px !important;
  border-radius: 8px;
}
.anticon {
  font-size: 18px !important; // hoặc lớn hơn nếu bạn muốn
  color: #0c003f !important;
  margin-right: 8px;
}
